header
  background: $body
  color: #fff
  position: fixed
  top: 0
  width: 100%
  margin: 0 auto
  display: block
  z-index: 1000
  h1
    padding: 20px 0
    width: 600px
    display: block
    margin: 0 auto
    a
      color: #fff
      display: block
      text-decoration: none
