section
  @include outer-container
  background: #fff

body
  background: #000
  font-family: "proxima-nova", sans-serif
  font-size: 21px
  line-height: 29px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

